<!-- <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba Adı</th>
      <th>Müşteri Adı Soyadı</th>
      <th>Ücret</th>
      <th>Kiralama Tarihi</th>
      <th>Teslim Tarihi</th>
    </tr>
  </thead>
  <tr *ngFor="let carRental of carRentals">
    <td>{{ carRental.id }}</td>
    <td>{{ carRental.carName }}</td>
    <td>{{ carRental.customerFullName }}</td>
    <td>{{ carRental.dailyPrice }} tl</td>
    <td>{{ carRental.rentDate }}</td>
    <td>{{ carRental.returnDate }}</td>
  </tr>
</table>
