<!-- <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Araba İsmi</th>
        <th>Müşteri İsmi</th>
        <th>Kiralama Tarihi</th>
        <th>Teslim Tarihi</th>
      </tr>
    </thead>
    <tr >
      <!-- <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice }}</td>
      <td>{{ product.unitsInStock }}</td> -->
    </tr>
  </table>
  